
body {
	font-family: 'Raleway', sans-serif;
	margin: auto;
}

header {
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-between;
	background-color: white;
	color: #0065FC;
}


a {
	text-decoration: none;
	color: inherit;
}

main {
	width: 90%;
	margin: auto;
}

h1 {
	font-size: 20px;
	font-weight: bold;

}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 15px;
	font-weight: bold;
}

h3 + p {
	font-size: 14px;
}

footer {
	display: flex;
	grid-gap: 20vw;
	padding-left: 40px;
	background-color: #F2F2F2;
	margin-top: 3em;
	margin-bottom: 3em;
}

footer ul {
	list-style-type: none;
	padding-left: 0px;
	line-height: 2em;
}




/* Media queries for hotel overview */


/* for Smartphone */

@media all and (max-width: 768px) {
	footer {
		flex-direction: column;
		grid-gap: 1em;
	}
}

/* for Tablet */

@media all and (min-width : 768px) and (max-width : 1024px) {
	footer {
		grid-gap: 4em;
	}
}


/* End of Footer media queries */



#logo {
width: 90px;
height: 42px;
display: flex;
flex-direction: row;
align-items: baseline;
padding-left: 5%;
margin-top: 20px;
margin-bottom: 5px;

}

#navbar {
	display: flex;
	margin-right: 5%;
	color: #0065FC;
	
}

#navbar > a:hover {
	border-top: 3px solid #0065FC;

}

#navbar > a {
	padding-top: 30px;
}


/* Media queries for heading */


/* for Smartphone */

@media all and (max-width: 768px) {


}

/* End of header media queries */



#search-form {
	display: flex;
	align-content: flex-start;
}

#top-search {
	padding: 70px 0px 0px 0px;
}

#search-city {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-right: none;
    border-left: none;
	border-color: #F2F2F2;
	padding: 16px 16px;
	font-weight: bold; 
}

#filter {
display: flex;
justify-content: flex-start;
gap: 15px;
margin-top: 2em;
}

#filter-content {
	display: flex;
	margin-right: 20px;
}

#filter-name {
	display: flex;
	border: 2px solid;
	border-color: #F2F2F2;
	border-radius: 30px;
	margin-right: 10px;
	width: auto;
	padding-right: 20px;
}

/* Media queries for filter */

/* for Smartphone */

@media all and (max-width: 768px) {
	#filter {
		flex-direction: column;
	}

	#filter-name {
		width: fit-content;
		margin-bottom: 20px;
		
	
	}

	#filter-content {
		display: flex;
		flex-wrap: wrap;
	}

}




#hotel-overview {
display: flex;
flex-wrap: wrap;
margin-top: 3em;

}

#hotels {
flex: 3;
background-color: #F2F2F2;
padding:10px 30px;
border-radius: 20px;

}

#hotel-tile {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -5px;

}

#most-popular {
flex: 1;
	margin-left: 30px;
	background-color: #F2F2F2;
padding:10px 30px;
border-radius: 20px;
grid-row-gap: 30px;
}

#popular-title {
	display: flex;
	justify-content: space-between;
}

#popular-hotel-list {
	
}


/* Media queries for hotel overview */


/* for Smartphone */

@media all and (max-width: 768px) {

#hotels {
	margin-top: 20px;
}

#hotel-overview {
	flex-direction: column-reverse;
}

#hotel-tile {
	flex-direction: column;
}

#hotel-tile > .hotel-list {
	width: auto;
	height: auto;
	margin-bottom: 10px;

}

#most-popular {
	margin-left: 0px;
}

}


/* For tablet */

@media all and (min-width : 768px) and (max-width : 1024px) {

#hotel-overview {
	flex-direction: column-reverse;
}

#hotels {
	margin-top: 10px;
}

#hotel-tile > .hotel-list {
	width: 45%;
	margin: 10px 10px;

}

#most-popular {
	margin-left: 0px;
}

}


/* End of hotel overview media queries */


#activity {
margin-top: 3em;
}


#activity-list {
display: grid;
grid-template-columns: repeat(4, 25%);
grid-template-rows: 230px 230px;
margin-top: 20px;
}


/* Media queries for activity */


/* for Smartphone */

@media all and (max-width: 768px) {
	#activity-list {
		display: flex;
		flex-direction: column;
	}

	.activity-tile .activity-img-long {
		height: 150px;
	}

	#activity-list .activity-tile {
		margin: 10px 5px;
	}

}

/* for Tablet */

@media all and (min-width : 768px) and (max-width : 1024px) {
	#activity-list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.activity-tile .activity-img-long {
		height: 200px;
	}

	.activity-tile .activity-img {
		height: 200px;
	}


}

/* End of activity media queries */







.nav-button {
float: left;
  display: block;
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 15px;
}

.fa-map-marker-alt {
	background-color: #F2F2F2;
	padding: 16px 16px;
	border-radius: 16px 0 0 16px;
}

.submit-search {
	color: white;
	padding: 15px 15px;
	background-color: #0065FC;
	border: none;
	border-radius: 0 16px 16px 0;
	font-size: 16px;
}

.filter-icon {
	display: flex;
	background-color: #DEEBFF;
	color: #0065FC;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
	padding: 15px;
}

.filter-button {
width: auto;
height: auto;
padding: 10px 10px 10px 10px;
border: none;
background-color: white;
border-radius: 16px;
margin-top: 2px;
font-weight: bold;
}




.hotel-list {
width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 1em;
  padding: 5px 5px;
  margin: 0 10px;
  margin-bottom: 30px;
  margin-top: 20px;

}

.caption {
	color: black;
	line-height: 0.5em;
}

.fa-star {
	color: #0065FC;
	font-size: 12px;
}

.hotel-image {
	height: 150px;
	width: 100%;
	object-fit: cover;
	border-radius: 1em 1em 0px 0px;
}

.popular-hotel {
width: auto;
height: 150px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  border-radius: 1em;
  padding: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  margin: 0 5px;
  margin-bottom: 10px;
  display: flex;
  column-gap: 5px;
  margin: 30px 0px;
 
}


.fa-chart-line {
	margin-top: 20px;
	margin-right: 10px;
}

.popular-hotel-img {
	height: 100%;
	width: 150px;
	object-fit: cover;
	border-radius: 1em 0px 0px 1em;
}

.caption-popular {
	color: black;
	line-height: 1em;
}

.popular-star {
	padding-top: 2em;
}


.activity-tile {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 25px;
  border-radius: 1em;
  padding: 0px;
  margin: 0 5px;
  margin-bottom: 10px;
}

.act-tile-1 {
	grid-row: 1/span 2;
	margin-right: 40px;
}

.act-tile-2 {
	margin-right: 20px;
	margin-bottom: 20px;
}

.act-tile-3 {
	grid-column: 2/span 1;
	grid-row: 2/span 1;
	margin-right: 20px;
	margin-top: 20px;
}

.act-tile-4 {
	grid-row: 1/span 2;
	grid-column: 3/span 1;
	margin-left: 20px;
	margin-right: 20px;
}

.act-tile-5 {
	margin-left: 20px;
	margin-bottom: 20px;
}

.act-tile-6 {
	grid-column: 4/span 1;
	grid-row: 2/span 1;
	margin-left: 20px;
	margin-top: 20px;
}

.activity-img {
height: 150px;
	width: 100%;
	object-fit: cover;
	border-radius: 1em 1em 0px 0px;
	padding: 0px;

}

.activity-img-long {
height: 380px;
	width: 100%;
	object-fit: cover;
	border-radius: 1em 1em 0px 0px;
	padding: 0px;
}

.caption-act {
	color: black;
	padding-left: 5px;
	padding-bottom: 10px;
}




