
body {
	font-family: 'Raleway', sans-serif;
	margin: auto;
}

header {
	width: 100%;
	padding-top: 25px;
	position: fixed;
	display: flex;
	justify-content: space-between;
	background-color: white;
	color: #0065FC;
}

main {
	width: 90%;
	margin: auto;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 15px;
}

h3 + p {
	font-size: 12px;
}

footer {
	display: flex;
	grid-gap: 20vw;
	padding-left: 40px;
	background-color: #F2F2F2;
	margin-top: 3em;
	margin-bottom: 3em;
}

footer ul {
	list-style-type: none;
	padding-left: 0px;
	line-height: 2em;
}

#logo {
width: 90px;
height: auto;
display: flex;
flex-direction: row;
align-items: baseline;
padding-left: 5%;
}

#navbar {
	display: flex;
	margin-right: 5%;
	
}

#search-form {
	display: flex;
	align-content: flex-start;
}

#top-search {
	padding: 70px 0px 0px 0px;

}

#search-city {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-right: none;
    border-left: none;
	border-color: #F2F2F2;
	padding: 16px 16px;
	font-weight: bold; 
}

#filter {
display: flex;
justify-content: flex-start;
gap: 15px;
margin-top: 2em;
}

#filter-name {
	display: flex;
	border: 2px solid;
	border-color: #F2F2F2;
	border-radius: 30px;
	margin-right: 10px;
}

#hotel-overview {
display: flex;
flex-wrap: wrap;
margin-top: 3em;

}

#hotels {
flex: 3;
background-color: #F2F2F2;
padding:10px 30px;
border-radius: 20px;
}

#hotel-tile {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -5px;
}

#most-popular {
flex: 1;
	margin-left: 30px;
	background-color: #F2F2F2;
padding:10px 30px;
border-radius: 20px;
grid-row-gap: 30px;
}

#popular-hotel-list {
	
}

#activity {

}


#activity-list {

}


#footer1 {

}

#footer2 {

}

#footer3 {
	
}


.nav-button {
float: left;
  display: block;
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 15px;
}

.fa-map-marker-alt {
	background-color: #F2F2F2;
	padding: 16px 16px;
	border-radius: 16px 0 0 16px;
}

.submit-search {
	color: white;
	padding: 15px 15px;
	background-color: #0065FC;
	border: none;
	border-radius: 0 16px 16px 0;
	font-size: 16px;
}

.filter-icon {
	display: flex;
	background-color: #DEEBFF;
	color: #0065FC;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
	padding: 15px;
}

.filter-button {
width: auto;
height: auto;
padding: 10px 10px 10px 10px;
border: none;
background-color: white;
border-radius: 16px;
margin-top: 2px;
font-weight: bold;
}

.hotel-list {
width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  margin: 0 5px;
  margin-bottom: 10px;

}

.fa-star {
	color: #0065FC;
}

.hotel-image {
	height: 150px;
	width: 100%;
	object-fit: cover;
	border-radius: 16px 16px 0px 0px;
}

.popular-hotel {
width: auto;
height: 150px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  margin: 0 5px;
  margin-bottom: 10px;
  display: flex;
  column-gap: 5px;
  margin: 30px 0px;
 
}

.popular-hotel-img {
	height: 100%;
	width: 150px;
	object-fit: cover;
	border-radius: 16px 0px 0px 16px;
}

.activity-tile {

}

.activity-img {

}







