
body {
	font-family: 'Raleway', sans-serif;
	margin: 30px 30px 30px 50px;
}

header {
	position: fixed;
}


#logo {
width: 90px;
height: auto;
}

#navbar {
	float: right;
	padding: 0px 0px 0px 850px;
}

#top-search {
	padding: 50px 0px 0px 0px;
}

.nav-button {
	float: left;
  display: block;
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 15px;
}




